<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>法律咨询后台管理</title>
    <meta name="keywords" content="法律咨询后台管理"/>
    <meta name="description" content="法律咨询后台管理"/>
    <!-- load layui -->
    {include file='layouts/layui'}
    <!-- 加载公共文件  -->
    <link href="__ADMIN__/css/base.css" rel="stylesheet">
    <!-- jQuery (necessary JavaScript plugins) -->
	<script type='text/javascript' src="__ADMIN__/js/jquery-3.2.1.min.js"></script>
	<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
    <script type='text/javascript' src="__ADMIN__/js/base.js"></script>

</head>

<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <div class="layui-header">
        <div class="layui-logo"><span>法律咨询后台管理</span></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left ">
            <li class="layui-nav-item ">
                <span class="menu-switch open"></span>
            </li>
<!--            <li class="layui-nav-item"><a href="">控制台</a></li>-->
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img class="nav-icon" src="__ADMIN__/images/icon/icon_bell.png">
                    消息<span class="layui-badge">0</span></a>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" id="FullScreen">
                <img class="nav-icon" src="__ADMIN__/images/icon/fullscreen.png">
                <span>&nbsp;全屏</span>
            </li>
            <li class="layui-nav-item" id="LockScreen">
                <a href="javascript:;">
                    <img class="nav-icon" src="__ADMIN__/images/icon/lockScreen.png">
                    <span>锁屏</span>
                </a>
            </li>

            <li class="layui-nav-item">
                <a href="javascript:;">
                    {$admin['user_name']}
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="#" onclick="viewAdminMsg('{$admin.id}')">
                            <img class="nav-icon" src="__ADMIN__/images/icon/icon_user.png">
                            基本资料
                        </a>
                    </dd>
                    <dd>
                        <a href="{:url('admin/login/logout')}">
                            <img class="nav-icon" src="__ADMIN__/images/icon/icon_exit.png">
                            注销退出
                        </a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>

	<div class="layui-side layui-bg-black">
		<div class="layui-side-scroll">
			<div class="user-info">
                <p>{$admin['user_name']}， 您好！</p>
            </div>
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			<ul class="layui-nav layui-nav-tree" lay-filter="test">
				<input type="hidden" id="check_login" url="{:url('admin/login/ajaxCheckLoginStatus')}" login="{:url('admin/login/index')}" >
				{volist name='menus' id='menu'}
                <li class="layui-nav-item">
                    {if($menu['child']!='')}
					<a href="javascript:;">
                        <i class="layui-icon"><img src="{$menu['icon']}"/></i>
                        {$menu['name']}
					</a>
                    <dl class="layui-nav-child">
                        {volist name= "menu['child']" id='vo'}
                        <dd>
                            <a class="a-to-Url mul-to-Url" href="javascript:;"
                               nav_menu_id="{$vo['id']}" action="{:url($vo['action'])}">
                                <i class="layui-icon">
                                    <img src="{$vo['icon']}"/>
                                </i>
                                {$vo['name']}
                            </a>
                        </dd>
                        {/volist}
                    </dl>
                    {else}
                    <a class="a-to-Url single-to-Url" href="javascript:;" nav_menu_id="{$vo['id']}" actionx="{:url($menu['action'])}">
                        <i class="layui-icon"><img src="{$menu['icon']}"/></i>
                        {$menu['name']}
                    </a>
                    {/if}
                </li>
                {/volist}
            </ul>
        </div>
    </div>
    
    <div class="layui-body">
        <ul class="layui-tab-title">
            <li class="layui-this title-selected" url="{:url('admin/index/home')}">
<!--            <li class="layui-this home" url="{:url('admin/card/index?flag=1')}">-->
                <i class="layui-icon">&#xe68e;</i>
                主页
            </li>

            <li class="layui-this refreshThis refresh">
                <span>刷新当前页</span>
                <i class="layui-icon  layui-tab-close">&#x1002</i>
            </li>
        </ul>
        <!-- 内容主体区域 -->

        <iframe class="iframe-body"
                src="{:url('admin/index/home')}">
        </iframe>

    </div>
</div>
</body>
<script>
    $(".refresh").click(function () {
        if ($(this).hasClass("refreshThis")) {
            $(this).removeClass("refreshThis");
            $(".layui-layout-admin .layui-body").find("iframe")[0].contentWindow.location.reload(true);
            setTimeout(function () {
                $(".refresh").addClass("refreshThis");
            }, 2000);
        } else {
            layer.msg("您的刷新速度太快，还是等两秒再刷新吧！");
        }
    });

    $(document).ready(function () {
        var allH = $(".layui-body").height();
        var titleH = $(".layui-tab-title").height();
        //$(".iframe-body").css("height", allH - titleH - 10);
        $(".iframe-body").css("height", '99%');
    });

    /**
     * 主要用于管理员 自身账号修改
     * @param adminID
     */
    function viewAdminMsg(adminID) {
        var toUrl = "{:url('admin/index/admin',['id'=>'AdminID'])}";
        toUrl = toUrl.replace('AdminID',adminID);
        ToOpenPopups(toUrl,'✎ 基本资料','48%','65%');
    }
</script>
</html>